# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Virtual environments
venv/
env/

# IDE files
.vscode/
.idea/

# Mac system files
.DS_Store

# Test results
*.log